html,body{
    margin: 0;
    height:100%;
}

h2{
    text-align: center;
}

#ListMovie{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: auto;
    justify-content: center;
}

#SelectedMovieMain{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 30px;
    color: white;
}

.movie{
    max-width: 160px;
    background-color: lightgrey;
    margin: 10px;
    border: 1px solid grey;
    border-radius: 10px;
}

.coverBackgroundImage{
    background-image: linear-gradient(to right, rgba(52.5, 73.5, 73.5, 1) 150px, rgba(52.5, 73.5, 73.5, 0.84) 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Vote{
    background: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 68px;
}

.selectedMovieListImage{
    margin: 20px;
    border-radius: 10px;
    border: 5px solid black;
}

.movieListImage{
    padding: 4px;
    border-radius: 10px;
}